<% provide(:title, @user.name) %>

<%= render :partial => "shared/profile_aside", :locals => { :user => @user } %>

<article class="col-md-9">
  <header>
    <h3><%= @user.name %></h3>
    <%= render 'follow_form' if user_signed_in? %>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </header>

  <div class="row">
    <% if @schemes.any? %>
    <h3>TOP SCHEMES (<%= @user.schemes.count %>)</h3>
    <%= render partial: 'shared/scheme_item', collection: @schemes %>
    <% end %>
  </div>

  <footer>
    <a href="#"><h5>Show more...</h5></a>
  </footer>
</article>